.button{
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}
.button:hover{
    text-decoration: none;
    color: white;
}

.create-upsell-button{
    background-color: #5564C2;
    border-radius: 12px;
    margin-top: 50px;
    margin-left: 43%;
    margin-bottom: 50px;
}

.btn-purple{
    background-color: #5564C2;
}

.flex{
    display: flex;
}

.right{
    margin-left: 70%;
}

.mt-10{
    margin-top: 50px;
}

.hidden{
    display: none;
}

.loading{
    width: 100px;
    height: 30px;
}

.settingForm{
    padding: 20px;
}

.p-10{
    padding: 10px;
}

.Model-opener{
cursor: pointer;
margin-top: 100px;
text-decoration: none;
padding-bottom: 50px;
}

.Model-opener:hover{
text-decoration: none;
}

.Polaris-Card__SectionHeader {
    font-weight: bold;
    font-size: larger;
  }